<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cmail</title>
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous"
    />
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light">  <!-- Navbar -->
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="images\WSU_Logo.png" class="mainLogo"alt="Home Button">
            </a>
        </div>
        <div class="container-fluid">
            <div class="collapse navbar-collapse justify-content-end">  <!-- Right Navbar-->
                <ul class="navbar-nav">
                    <li class="nav-item navbarItem">
                        <a class="nav-link" aria-current="page" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>  <!-- Right Navbar End-->
        </div>
    </nav>  <!-- Navbar End -->

    <div class="container-fluid mainDiv">
        <div class="row">
            <div class="col-2">
                <div class="list-group userEmailList">
                    <button type="button" class="list-group-item userEmailListButton" id="addEmail" onclick=handleAuthClick()>
                        Add Email
                    </button>
                    <button type="button" class="list-group-item userEmailListButton">
                        Email1
                    </button>
                    <button type="button" class="list-group-item userEmailListButton">
                        Email2
                    </button>
                    <button type="button" class="list-group-item userEmailListButton">
                        Email3
                    </button>
                </div>
            </div>
            <div class="col-2"> <!-- Mailbox Column -->
                <div class="row">
                    <div class="list-group mailboxList">
                        <button type="button" class="list-group-item mailboxListButton">
                            <a style="text-decoration: none; color: black;" href="email.html">New Mail</a>
                        </button>
                        <button type="button" class="list-group-item mailboxListButton">
                            Inbox
                        </button>
                        <button type="button" class="list-group-item mailboxListButton">
                            Sent
                        </button>
                        <button type="button" class="list-group-item mailboxListButton">
                            Spam
                        </button>
                        <button type="button" class="list-group-item mailboxListButton">
                            Trash
                        </button>
                    </div>
                </div>
            </div> <!-- Mailbox Column End-->
            <div class="col-3">   <!-- Email Preview Column -->
                <div class="row">
                    <ul class="list-group emailList">
                        <li class="list-group-item emailListElement">    <!-- Email1 Preview -->
                            <div class="d-flex justify-content-between">
                                <p>Title1</p>
                                <p>Date1</p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <p>From1</p>
                                <p>Pic1</p>
                            </div>
                            <div class="row">
                                <p>Body1...</p>
                            </div>
                        </li>   <!-- Email1 Preview End -->
                        <li class="list-group-item emailListElement">    <!-- Email1 Preview -->
                            <div class="d-flex justify-content-between">
                                <p>Title2</p>
                                <p>Date2</p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <p>From2</p>
                                <p>Pic2</p>
                            </div>
                            <div class="row">
                                <p>Body2...</p>
                            </div>
                        </li>   <!-- Email1 Preview End -->
                    </ul>
                </div>
            </div>  <!-- Email Preview Column End -->
            <div class="col">   <!-- Full Email Column -->
                <div class="d-flex justify-content-end">
                    <ul class="list-group list-group-horizontal">
                        <button type="button" class="list-group-item emailButton">
                            Delete
                        </button>
                        <button type="button" class="list-group-item emailButton">
                            Move
                        </button>
                        <button type="button" class="list-group-item emailButton">
                            Forward
                        </button>
                        <button type="button" class="list-group-item emailButton">
                            Reply
                        </button>
                    </ul>
                </div>
                <div class="row"> <!-- Full Email -->
                    <div class="col">
                        <div class="row"> <!-- Title and Date -->
                            <div class="col">
                                <div class="row">
                                    <p> Title </p> 
                                </div>
                            </div>
                            <div class="col">
                                <div class="d-flex justify-content-end">
                                    <p>Date</p>
                                </div>
                            </div>
                        </div> <!-- Title and Date End -->
                        <div class="row">
                            <p> From: Picture, Name, Email </p>
                        </div>
                        <div class="row">
                            <p>CC: Picture, Name, Email </p>
                        </div>
                        <div class="row">
                            <p>Full email............</p>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <ul class="list-group list-group-horizontal">
                        <button type="button" class="list-group-item emailButton">
                            Delete
                        </button>
                        <button type="button" class="list-group-item emailButton">
                            Move
                        </button>
                        <button type="button" class="list-group-item emailButton">
                            Forward
                        </button>
                        <button type="button" class="list-group-item emailButton">
                            Reply
                        </button>
                    </ul>
                </div>
            </div>  <!-- Full Email Column End -->
        </div>
    </div>
    <script type="text/javascript">
        /* exported gapiLoaded */
        /* exported gisLoaded */
        /* exported handleAuthClick */
        /* exported handleSignoutClick */
  
        // TODO(developer): Set to client ID and API key from the Developer Console
        const CLIENT_ID = '59708220095-em4upqmrn6vjg90a24e2r4jr794s4mqj.apps.googleusercontent.com';
        const API_KEY = 'AIzaSyCXI6bleLr6SAPUd6VO7wJIjy2iM9sele0';
  
        // Discovery doc URL for APIs used by the quickstart
        const DISCOVERY_DOC = 'https://www.googleapis.com/discovery/v1/apis/gmail/v1/rest';
  
        // Authorization scopes required by the API; multiple scopes can be
        // included, separated by spaces.
        const SCOPES = 'https://www.googleapis.com/auth/gmail.modify';
  
        let tokenClient;
        let gapiInited = false;
        let gisInited = false;
  
        document.getElementById('addEmail').style.visibility = 'hidden';
  
        /**
         * Callback after api.js is loaded.
         */
        function gapiLoaded() {
            gapi.load('client', initializeGapiClient);
        }
  
        /**
         * Callback after the API client is loaded. Loads the
         * discovery doc to initialize the API.
         */
        async function initializeGapiClient() {
            await gapi.client.init({
                apiKey: API_KEY,
                discoveryDocs: [DISCOVERY_DOC],
            });
            gapiInited = true;
            maybeEnableButtons();
        }
  
        /**
         * Callback after Google Identity Services are loaded.
         */
        function gisLoaded() {
            tokenClient = google.accounts.oauth2.initTokenClient({
                client_id: CLIENT_ID,
                scope: SCOPES,
                callback: '', // defined later
            });
            gisInited = true;
            maybeEnableButtons();
        }
  
        /**
         * Enables user interaction after all libraries are loaded.
         */
        function maybeEnableButtons() {
            if (gapiInited && gisInited) {
                document.getElementById('addEmail').style.visibility = 'visible';
            }
        }
  
        /**
         *  Sign in the user upon button click.
         */
        function handleAuthClick() {
            tokenClient.callback = async (resp) => {
                if (resp.error !== undefined) {
                    throw (resp);
                }
                // await listLabels();
            };
  
            if (gapi.client.getToken() === null) {
                // Prompt the user to select a Google Account and ask for consent to share their data
                // when establishing a new session.
                tokenClient.requestAccessToken({prompt: 'consent'});
            }
            else {
                // Skip display of account chooser and consent dialog for an existing session.
                tokenClient.requestAccessToken({prompt: ''});
            }
        }
  
        /**
         * Print all Labels in the authorized user's inbox. If no labels
         * are found an appropriate message is printed.
         */
        async function listLabels() {
            let response;
            try {
                response = await gapi.client.gmail.users.labels.list({
                'userId': 'me',
                });
            }
            catch (err) {
                document.getElementById('content').innerText = err.message;
                return;
            }
            const labels = response.result.labels;
            if (!labels || labels.length == 0) {
                document.getElementById('content').innerText = 'No labels found.';
                return;
            }
            // Flatten to string to display
            const output = labels.reduce(
                (str, label) => `${str}${label.name}\n`,
                'Labels:\n'
            );
            // document.getElementById('content').innerText = output;
            console.log(output);
        }
    </script>
    <script async defer src="https://apis.google.com/js/api.js" onload="gapiLoaded()"></script>
    <script async defer src="https://accounts.google.com/gsi/client" onload="gisLoaded()"></script>
</body>
</html>