<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="basics.css">
    <link rel="stylesheet" href="login.css">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <title>CMail - Login</title>
</head>
<body class="background">
    <div class="container contentBackground">
        <div class="row">
            <div class="col-sm-12 centerImage">
                <a class="" href="/">
                    <img src="images\Logo.png" class="logo" alt="Home Button">
                </a>
                <br><br><br><br>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 centerImage">
                <form class = "" id = "login">
                    <label for = "email">Username</label> <br><br>
                    <input class = "Input" type = "text" id = "username"> <br><br><br>
                    <label for="password">Password</label> <br><br>
                    <input class = "Input" type="password" id = "password"><br><br><br>
                    <div class="captcha-container">
                        <div class="g-recaptcha" data-sitekey="6Lc6TrYpAAAAAJmT-riyPxeChYr19PhaKDdArZaJ"></div>
                    </div>
                    <br><br>
                    <button type="submit" form = "login" style="width: 38%; height: 7%;">
                        Login
                    </button>
                    <div id="alertDisplay" style="margin-left: 25%; width: 50%;"></div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 centerImage">
                <p class="text-center">No account?  
                Sign up <a href="newUser.html">here</a>. </p>
            </div>
        </div>

        <script src="login.js"></script>
    </div>
</body>
</html>