<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="basics.css">
    <link rel="stylesheet" href="login.css">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <title>CMail - Login</title>
</head>
<body class="background">
    <div class="container contentBackground">
        <div class="row">
            <div class="col-sm-12 centerImage">
                <a class="" href="/">
                    <img src="images\Logo.png" class="logo" alt="Home Button">
                </a>
                <br><br><br><br>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 centerImage">
                <p class=""> Logout Successful!</p>
                <br>
            </div>
        <div class="row">
            <div class="col-sm-12 centerImage">
                <p class=""> 
                    Return to login <a herf='/login'>here</a>.
                </p>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-sm-12 centerImage">
                <p class="text-center">No account?  
                Sign up <a href="newUser.html">here</a>. </p>
            </div>
        </div>

        <script src="login.js"></script>
</body>
</html>