<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="basics.css">
    <title>CMail - New User</title>
</head>
<body style="width: 100%; height: 100%; background: linear-gradient(to top right, #ffff99 0%, #99ccff 100%);">
        <div class = "row">
            <div class = "column">
                <p class = "Cmail" style="margin-bottom: 0%;">
                    <a class = "logo" href="loginPage.html">C-MAIL</a>
                </p>
                <br>

                <form class = "login" action="" method="post" id = "signUp">
                    <p>Emails must: <br>
                        - End with @cmail
                    </p>
                    <label for = "email">Email:</label> <br>
                    <input class = "Input" type = "text" id = "email" name = "email"> <br>
                    <p>Passwords must: <br>
                        - Be at least 8 charachters<br>
                        - Have a special charachter
                    </p>
                    <label for="password">Password:</label> <br>
                    <input class = "Input" type="password" id = "password" name = "password"><br><br>
                </form>

                <button type="submit" form = "signUp" value = "submit" style="width: 38%; height: 7%; margin-left: 30%;">
                    <a style="text-decoration: none; color: black;" href="home.html">Sign Up</a>
                </button>

            </div>
        </div>


    
</body>
</html>