.title{
    margin-bottom: 3%;
}

.contentBackground{
    background-color: beige;
    margin-top: 5%;
    margin-right: 20%;
    margin-bottom: 5%;
    margin-left: 20%;
    padding-left: 7%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 7%;
}

.sendButton{
    margin-left: 83%;
    background-color: rgb(192,192,192); 
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}

.sendButton:hover{
    background-color: rgb(0, 62, 250); 
    color: white;
}

.baseFont{
    font-size: 14pt;
}

/* .columnEmail{
    position: absolute;
    top: 10%;
    left: 20%;
    float: left;
    width: 60%; 
    margin-left: 20px;
    margin-bottom: 50px;
    height: 80%;
    background-color: beige;
    border-radius: 15px;
}

.row{
    content: "";
    display: table;
    clear: both;
}

.email{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    margin-left: 0%;
}

.LabelColumn{
    position: absolute;
    top: 5%;
    left: 0%;
    float: left;
    width: 7%; 
    margin-left: 20px;
    margin-bottom: 50px;
    height: 80%;
    background-color: none;
}
.contentColumn{
    position: absolute;
    top: 5%;
    left: 9%;
    float: left;
    width: 92%; 
    margin-left: 20px;
    margin-bottom: 50px;
    height: 80%;
    background-color: none;
}

Javascript API send emails
Gmail api wrapper


.Label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    margin-top: 0%;
}
.LabelInput{
    width: 90%;
    outline: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
}
.messageContent{
    width: 90%;
    outline: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
}

.button:hover{
    opacity: 0.7 !important;;
} */