.title{
    margin-bottom: 3%;
}

.contentBackground{
    background-color: beige;
    margin-top: 5%;
    margin-right: 20%;
    margin-bottom: 5%;
    margin-left: 20%;
    padding-left: 7%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 7%;
}

.sendButton{
    margin-left: 83%;
    background-color: rgb(192,192,192); 
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}

.sendButton:hover{
    background-color: rgb(0, 62, 250); 
    color: white;
}

.baseFont{
    font-size: 14pt;
}