/* Navbar */
.mainLogo{
    width: 75%;
}
.navbarItem{
    font-size: 18pt
}
.navbarItemPipe{
    font-size: 18pt
}

/* Main Body*/
.body, html{
    background: linear-gradient(to top right, #ffff99 0%, #99ccff 100%);
    height: 100%;
}

.mainDiv{
    background: rgba(0, 0, 0, 0);
}

/* Email List */

.userEmailList{

}
.userEmailListButton{
    font-size: 20pt;
}
.userEmailListButton:hover{
    background-color: grey;
}

/* Mailbox List */
.mailboxList{

}

.mailboxListButton{
    font-size: 20pt;
}

.mailboxListButton:hover{
    background-color:grey;
}

/* Mailbox Email List */
.emailList{
    border-color: black;
}

.emailListElement{
    
}

.emailListElement:hover{
    background-color: grey;
}

/* Full Email */
.emailButton:hover{
    background-color: grey;
}