/* Navbar */

.html{
    height: 100hv;
}
.body{
    height: 100hv;
}
/* .mainContainer{
    /*height: 100%;*/

/* .bottomSpace{
    height: 100%;
} */

/* Email List */

/* .userEmailList{
    
} */
.userEmailListButton {
    font-size: 14pt;

    
}
.userEmailListButton:hover{
    background-color: lightgray !important;
}

.userEmailAddButton {
    font-size: 20pt;

    
}
.userEmailAddButton:hover{
    background-color: lightgray !important;
}

/* Mailbox List */
/* .mailboxList{

} */

.emailPreviewList{
    height: 87vh;
    overflow-y: auto;
}

.list-group-item{
    background-color: beige !important;
}

.mailboxListButton{
    font-size: 20pt;
}

.mailboxListButton:hover{
    background-color:lightgray !important;
}

/* Mailbox Email List */
.emailList{
    border-color: black;
    
}

.fullEmailContainer{
    background-color: beige;
    margin-top: 1%;
    margin-bottom: 1%;
}

.emailListElement:hover{
    background-color: lightgray !important;
}

/* Full Email */
.emailButton:hover{
    background-color: lightgray !important;
}

.customCardHeader{
    display: flex; 
    flex-direction:row; 
    justify-content: space-between;
    align-items: center;
}

.cc{
    display: flex;
}

.title{
    text-align: left;
}

.date{
    text-align: right;
}

.card{
    background-color: beige !important;
    
}

.emailHeader{
    font-size: 14pt;
    margin-bottom: 0%;
}

.messageWrapper{
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    overflow-x: auto;
    max-height: 55vh;
    overflow-x: auto;
    max-width: 100%;
}