.navbar{
    background-color: rgba(245, 245, 220, 0.9);
    margin-bottom: 2vh;
}
.navbarLogo{
    width: 25vh;
}
.nav-item{
    font-size: 18pt;
    color: black;
}
.navbarItemPipe{
    font-size: 18pt
}